@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@import 'normalize.css';

body {
    font-family: 'Italiana', sans-serif;
    line-height: 1;
    background-color: #f6f6f6;
    font-size: 30px;
}