@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@import 'normalize.css';
@import 'styles/_variaveis.scss';

body {
    font-family: 'Italiana', sans-serif;
    line-height: 1;
    background-color: #f6f6f6;
    font-size: 30px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $red;
}